<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNG2JPG</title>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <button><a href="/">Load</a></button>
    </div>

    <h1>PNG<span style="color: red">2</span>JPG</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" accept=".png" required>
        <br>
        <input type="button" value="Загрузить" onclick="uploadFile()">
    </form>

    <div id="result">

    </div>

    <script>
        function uploadFile() {
            var fileInput = document.querySelector('input[type="file"]');
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append('image', file);

            fetch('/convert', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var result = document.getElementById('result');
                
                var text = document.createElement('p');
                var a = document.createElement('a');
                a.textContent = "Result";
                a.href = data.file;
                if (data.error) {
                    text.textContent = data.error;
                }
                
                text.appendChild(a);
                result.appendChild(text);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
