<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <span><span>He</span></span><span><span>ll</span></span><span><span>o</span>
    </div>
    
    <!--....................................................................................................................................................................................................................................................................................................................SgffCTF{1_w4nn4_b3_y0ur_sl4v3} -->
    
    <small>Click to trigger</small>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/interesting.js"></script>
</body>
</html>